html
  height: 100%
  background: linear-gradient(to bottom, #1b58b2 0%, #4fbfe8 98%)
  body
    height: 100%
    font-family: 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
.query-list-wrapper
  flex-grow: 1
  display: flex
  flex-direction: column
// 页面布局样式全局变量
G_BACK_GROUND_COLOR = #ccc
G_SIDE_MENU_OUT_WRAPPER = 230px
G_SIDE_MENU_WIDTH = 250px
G_PAGE_HEADER_HEIGHT = 50px
G_BREADCRUMB_HEIGHT = 40px
G_SIDE_MENU_ITEM_HEIGHT = 50px

// 表单控件样式全局变量
G_FORM_WIDTH = 80%
G_FORM_MIN_WIDTH = 800px
G_FORM_FULL_COLUMN_WIDGET_WIDTH = calc(100% - 30px)
G_FORM_HALF_COLUMN_WIDGET_WIDTH = calc(50% - 30px)


